.footer {
  padding: 77px 0 81px;

  background: #1f1e1e;
}

.footer__logo {
  width: 285px;
  margin: 0 auto;
  margin-bottom: 69px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  max-width: 839px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__inner a {
  color: inherit;

  transition: opacity 0.3s ease;
}

.footer__inner a:hover {
  opacity: 0.6;
}

.footer__inner a:active {
  opacity: 0.3;
}

.footer__span {
  display: block;
  margin-bottom: 7px;

  font-weight: 500;
  color: #fff;
}

.copyright__text {
  margin-top: 0;
  margin-bottom: 3px;
}

.copyright__link {
  text-decoration: none;

  border-bottom: 1px solid #fff;
}

.address {
  margin: 0;
}

.phone {
  margin: 0;

  text-decoration: none;
}

.email {
  margin: 0;
}
