*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;

  background: #886239;
  border-radius: 30px;
}
